In [ ]:
pip install requests

In [ ]:
pip install beautifulsoup4

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [20]:
baseURL = "https://aeonmall-bsdcity.com/shopping.php?page="

name = []
type = []
floor = []

totalPage = 20
currentPage = 1

while (currentPage <= totalPage ):
  page = requests.get(baseURL + str(currentPage))
  soup = BeautifulSoup(page.content, "html.parser")

  datas = soup.find_all("div", class_="desc-shopping")

  for data in datas:
    name.append(data.find("h3").text)
    type.append(data.find("span").text)
    floor.append(data.find("div", class_="tmaps").text)
  
  currentPage += 1

In [22]:
format = {
  'name' : name,
  'type' : type,
  'floor' : floor,
}

df = pd.DataFrame(format)
df

                             name     type floor
0                         Adidas   FASHION    GF
1     AEON BSD CITY Dept Store 1F  FASHION    1F
2     AEON BSD CITY Dept Store 2F  FASHION    2F
3    AEON BSD CITY Supermarket GF     FOOD    GF
4            AEON Credit Service   SERVICE    GF
..                            ...      ...   ...
226                     Yoshinoya     FOOD    GF
227                   Yuan Market  FASHION    2F
228                   Yves Rocher    GOODS    GF
229                        Zenbu      FOOD    GF
230                       Zoomoov  SERVICE    2F

[231 rows x 3 columns]

In [23]:
df.to_excel('tenances.xlsx')